<div class="likes-container">
  <%= render "users/user_likes" %>
</div>
<div class="all-recommendations">
  <%= render "users/recs_container" %>
  <h2>We Think You'll Like</h2>
  <div class="reco-container">
    <ul>
      <% @facade.recommendations.each do |rec| %>
        <li class="recommendation" id="recommendation-<%= rec.id %>"><%= rec.name %><span class="save-button"><a href="">Save</a></span></li>
      <% end %>
    </ul>
  </div>
</div>
