<%= render "user_likes" %>

<div class="recs-container">
  <div id="staging-box">
    <ul id="items-for-recs"></ul>
  </div>
  <a href=""><div class="get-recs-button">Get Recommendations!</div></a>
</div>
