body {
  font-family: 'Roboto', sans-serif;
  background-color: #fffdf7;
  color: #0a2342;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  background-color: #2ca58d;
  display: flex;
  justify-content: space-between; 
  .user-info {
    margin-right: 2rem;
    margin-top: 1rem;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #0a2342;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.5rem;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.likes-container {
  width: 40rem;
}

.likes {
  h3 {
    margin: 0;
    padding: 0.25rem 0 0.25rem 1rem;
    background-color: #84bc9c;
  }
}

.rec-button {
  float: right;
  background-color: #2ca58d;
  font-size: 8pt;
  font-weight: bold;
  padding: 0.3rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: #f46197;
  }
}

.recs-container {
  margin: 0 5rem;
}

.get-recs-button {
  width: 16rem;
  margin: 1rem 0 1rem 6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f46197;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  &:hover {
    background-color: #e83a79;
  }
}

#staging-box {
  height: 8rem;
  border: 5px solid #0a2342;
  width: 30rem;
  overflow: scroll;
}